<h1>Welcome Back, @<%= current_user.username %></h1>

<h2>What do you want to track today?</h2>

<a href="/cows/all">My Cows</a><br></br>
<a href="/fields/all">My Fields</a><br></br>
<a href="/expenses/all">My Expenses</a><br></br>