<h2> Add New Expense </h2>

<form action="/expenses/all" method="POST">

<label>Expense:</label>
<input type="text" name="expense[notes]" id="notes"><br></br>

<input type="submit" value="Create Expense">
</form>

