<br></br>

<img src="/images/myexpenses.png" class="img-responsive main-image">

<h2> Edit Expense </h2>

<form method="post" action="/expenses/<%=@expense.id%>/edit">

<input id="hidden" type="hidden" name="_method" value="PATCH">

<label>Expense:</label>

<input type="text" name="expense[notes]" id="notes" value="<%= @expense.notes %>"><br></br>

<input type="submit" value="Save">
</form>
<br></br>
<img src="/images/myline.png" class="img-responsive main-image">
<br></br>
 <a href="/users/<%= current_user.id %>"> profile </a>  &nbsp; <a href="/cows/all"> cows </a> &nbsp; <a href="/fields/all"> fields </a> &nbsp; <a href="/expenses/all"> expenses </a>&nbsp;  <a href="/logout"> logout </a>
 <br></br>
   