<h2> Add New Field </h2>

<form action="/fields/all" method="POST">

<label>Field Name:</label>
<input type="text" name="field[field_name]" id="field_name"><br></br>

<label>Acreage:</label>
<input type="text" name="field[acreage]" id="acreage"><br></br>

<label>Coordinates:</label>
<input type="text" name="field[coordinates]" id="coordinates"><br></br>

<input type="submit" value="Create Field">
</form>