<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
  <link href="https://fonts.googleapis.com/css?family=Jomolhari|Open+Sans+Condensed:300|Playfair+Display|Work+Sans:200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet"> 
  <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />

    </head>

  <div class="wrapper">
    <div class="img-container" align="center">
    <hr align="center">
    <div align="center">
    <body>
    <body align="left">
    <style>

    h1 {
      font-weight: 300;
      font-family: 'Oswald', serif;
      font-size: 62px;
      line-height: 60px;
    }
  
    h2 {
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      line-height: 40px;
    }
  
    h3 {
      font-weight: 200;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 20px;
      line-height: 24px;
    }
  
    p {
      font-weight: 300;
      margin-bottom: 18px;
      font-family: 'Lato', sans-serif;
    }

  a { 
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    }
  a {
    text-decoration: none;
  }
  a {font-weight: 100}
 
  a {
    color:rgba(35, 50, 66);
  }
  a:visited {
    color:rgba(35, 50, 66);
  }
  a:hover, a:active, a:focus {
    color:rgba(66, 93, 122);
  }
</style>
    <!-- Page content -->

   </div>
   
        <%= yield %>
       
      <footer class="branding">
        <small>&copy; 2019 <strong>CattleLog</strong></small>
      </footer>
      <br></br>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>


