<div class="img-container"> 
<br></br>
<img src="images/cattle-log_final.png" alt="Logo"> 
<br></br>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Login">
</form>

<br></br>

<h5>If you do not have a Cattle-Log account, <a href="/signup_welcome">Sign Up here</a></h5>

<br></br>