<!doctype html>
<html>

<head>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: rgba(4, 17, 59, 0.932);
  color: rgba(9, 9, 10, 0.89);
  font-family: ;
  line-height: 18px;
}
</style>
  <img src="images/cattle-log.png" class="center">
    <title>Cattle-Log</title>
</head>

  <body>
  <p>If you already have a Cattle-Log account <a href="/login">Log In</a> to continue.

    <div class="container"><h3>Signup</h3>
    
    <form action="/signup_welcome" method="POST">
      <input type="text" name="email" placeholder="Email Address">
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input type="submit" value="Sign Up">
    </form>  

    </div>
    
  </body>
</html>