<!doctype html>
<html>
<style>
.img-container {
  text-align: center;
}
</style>

<div class="wrapper">
<div class="img-container"> 
<img src="images/cattle-log_final.png" alt="Logo"> 
<div class="wrapper">

  <body>
  <br></br>
    <div class="container">
    
    <form action="/signup_welcome" method="POST">
      <input type="text" name="email" placeholder="Email Address">
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input type="submit" value="Sign Up">
    </form>  

    </div>
<br></br>
    <h5>If you already have a Cattle-Log account <a href="/login">Log In</a> to continue.</h5>
  </body>
</html>