<!doctype html>
<html>
<style>
.img-container {
  text-align: center;
}
</style>

<br></br>

<img src="images/cattle-log_final.png" alt="Logo"> 


  <body>

<img src="images/myLine.png"> 
  <br></br>
    <div class="container">
    
    <form action="/signup_welcome" method="POST">
      <input type="text" name="email" placeholder="Email Address">
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input type="submit" value="Sign Up">
    </form>  

    </div>
<br></br>
    <h4>If you already have a Cattle-Log account <a href="/login">Log In</a> to continue.</h4>
    <br></br>
    </body>
</html>