<h2> Add New Cow </h2>

<form action="/cows/all" method="POST">

<label>Cow Name:</label>
<input type="text" name="cow[name]" id="name"><br></br>

<label>Tag Number:</label>
<input type="text" name="cow[tag_number]" id="tag_number"><br></br>

<label>Birthdate:</label>
<input type="text" name="cow[birthdate]" id="birthdate"><br></br>

<label>Type:</label>
<input type="text" name="cow[type]" id="type"><br></br>

<label>Color:</label>
<input type="text" name="cow[color]" id="color"><br></br>

<label>Age:</label>
<input type="text" name="cow[age]" id="age"><br></br>

<label>Weight:</label>
<input type="text" name="cow[weight]" id="weight"><br></br>

<label>Health:</label>
<input type="text" name="cow[health]" id="health"><br></br>

<input type="submit" value="Create Cow">
</form>