<br></br>
<img src="/images/mycows.png" class="img-responsive main-image">
<h2> Add New Cow </h2>
<br></br>
<form action="/cows/all" method="POST">

<label>Cow Name:</label>
<input type="text" name="cow[name]" id="name"><br></br>

<label>Field Name:</label>
<input type="text" name="cow[field_name]" id="field_name"><br></br>

<label>Tag Number:</label>
<input type="text" name="cow[tag_number]" id="tag_number"><br></br>

<label>Year Born:</label>
<input type="text" name="cow[birthdate]" id="birthdate"><br></br>

<label>Status:</label>
<input type="text" name="cow[cow_status]" id="cow_status"><br></br>

<label>Color:</label>
<input type="text" name="cow[color]" id="color"><br></br>

<label>Age:</label>
<input type="text" name="cow[age]" id="age"><br></br>

<label>Weight:</label>
<input type="text" name="cow[weight]" id="weight"><br></br>

<label>Health:</label>
<input type="text" name="cow[health]" id="health"><br></br>

<label>Notes:</label>
<input type="text" name="cow[notes]" id="notes"><br></br>

<input type="submit" value="Create Cow">
</form>
<br></br>
<img src="/images/myline.png" class="img-responsive main-image">
<br></br>
 <a href="/users/<%= current_user.id %>"> profile </a>  &nbsp; <a href="/cows/all"> cows </a> &nbsp; <a href="/fields/all"> fields </a> &nbsp; <a href="/expenses/all"> expenses </a>&nbsp;  <a href="/logout"> logout </a>
 <br></br>
