<head>
<img src="/cattle-log.png" class="center">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: rgba(4, 17, 59, 0.932);
  color: rgba(9, 9, 10, 0.89);
  font-family: ;
  line-height: 18px;
}
.wrapper {
    background: rgb(255, 255, 255);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }
<title>Cattle-Log</title>
</style>
</head>

<h2> Add New Cow </h2>

<form action="/cows/all" method="POST">

<label>Cow Name:</label>
<input type="text" name="cow[name]" id="name"><br></br>

<label>Tag Number:</label>
<input type="text" name="cow[tag_number]" id="tag_number"><br></br>

<label>Year Born:</label>
<input type="text" name="cow[birthdate]" id="birthdate"><br></br>

<label>Status:</label>
<input type="text" name="cow[cow_status]" id="cow_status"><br></br>

<label>Color:</label>
<input type="text" name="cow[color]" id="color"><br></br>

<label>Age:</label>
<input type="text" name="cow[age]" id="age"><br></br>

<label>Weight:</label>
<input type="text" name="cow[weight]" id="weight"><br></br>

<label>Health:</label>
<input type="text" name="cow[health]" id="health"><br></br>

<input type="submit" value="Create Cow">
</form>