<h2> Add New Cow </h2>

<form action="/cows" method="POST">

<label>Cow Name:</label>
<input type="text" name="cow[name]" id="cow_name"><br

<label>Birthdate:</label>
<input type="text" name="cow[birthdate]" id="cow_birthdate">

<label>Type:</label>
<input type="text" name="cow[type]" id="cow_type">

<label>Color:</label>
<input type="text" name="cow[color]" id="cow_color">

<label>Age:</label>
<input type="text" name="cow[age]" id="cow_age">

<label>Weight:</label>
<input type="text" name="cow[weight]" id="cow_weight">

<label>Health:</label>
<input type="text" name="cow[birthdate]" id="cow_birthdate">

<input type="submit" value="Create Cow">
</form>