<h1>Welcome Back, <%= current_user.username %>! </h1>
<h2> Your Herd: </h2><br></br>

<% @cows.each do |cow| %>
   <ul><%= cow.id %> </ul><br></br>
   <ul><%= cow.name %> </ul><br></br>
   
<% end %>

<p>Click <a href="/cows/add_new">Add Cow</a> to add new cow. </p><br></br>
