<img src="/images/mycows.png" class="img-responsive main-image">

<% @cows.each do |cow| %>
    <li>Tag No. <%= cow.tag_number %> </li>
    <li> <%= cow.name %> </li>
    <li> Located in:  <%= cow.field_name %> </li>
    <li><a href="/cows/<%=cow.id%>">Cow Specs</a></li><br></br>
  
<% end %>

<a href="/cows/add_new">Add New Cow</a><br></br>