<h1>My Cows</h1>
<% @cows.each do |cow| %>
    <li>Tag No. <%= cow.tag_number %> </li>
    <li> <%= cow.name %> </li>
    <ul><a href="/cows/<%=cow.id%>">Cow Specifics</a></ul><br></br>
<% end %>

<a href="/cows/add_new">Add New Cow</a><br></br>