<h1>Welcome Back, <%= current_user.username %>! </h1>
<h2> Your Herd: </h2> 

<% @cows.each do |cow| %>
   <ul> <%= cow.name %> </ul> 
   <p><a href="/cows/<%= cow.slug %>"><%= cow.name %></a></p>
<% end %>

<p>Click <a href="/cows/add_new">Add Cow</a> to add new cow. </p>
