<h1>Welcome Back, <%= current_user.username %>! </h1>
<h2> Your Herd: </h2><br></br>

<% @cows.each do |cow| %>
   <ul><%= cow.id %>. <%= cow.name %> <%</ul>

<% end %>

<p><a href="/cows/add_new">Add New Cow</a> </p><br></br>
